html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    width: 100%;
    background-color: #220077;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-weight: 700;
    display: inline-block;
    
}

.nav-links {
    list-style: none;
    display: flex;
    font-family: fantasy;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}
.nav-item:hover {
    background-color:gold;
    }
.nav-item:hover a {
    color:black;
    }
.nav-item-login {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:30px;
}
.navbar a{
    font-size:15px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
}
.fas {
    font-size: 30px;
    color:crimson;
    background-color: green;
    text-decoration: double;
    padding:10px;

   }